{% extends template.self %}

                {% block book_inner %}
                    {% include "website/header.html" %}

                    <div class="page-wrapper" role="main">
                        <div class="page-inner">
                            {% block search_results %}
                                <section class="normal markdown-section">
                                {% block page %}
                                {{ page.content|safe }}
                                {% endblock %}
                                </section>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}

{% block body %}
<div id="bw-page" tabindex="-1">
  <header id="bw-header">
    <h1><a href="//vizia.github.io/brandwatch-developers-docs/">Brandwatch Developers</a></h1>
    <div class="links">
      <a href="//vizia.github.io/brandwatch-developers-docs/">docs</a>
      <a href="https://support.brandwatch.com">support</a>
    </div>
  </header>

  {{ super() }}
</div>
{% endblock %}



